spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: test@gmail.com
    password: test@123
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  application:
    name: pppbackend
  datasource:
    url: jdbc:postgresql://localhost:5432/pppdb
    username: postgres
    password: Mannit@12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC

  jackson:
    time-zone: UTC
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

# JWT Configuration
application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000
      refresh-token:
        expiration: 604800000

# Logging
logging:
  level:
    com.java.ppp.pppbackend: INFO
    org.springframework.security: INFO
    org.hibernate.SQL: INFO